<body class="jumbotron #ffa726 orange lighten-1">
<p class="md-form white-text"><i class="fa fa-spinner fa-spin white-text"></i>
      <!-- <div class="md-form white-text">
                  

                  PUBLISHED:  {{}}
                  <label for="date"></label><br>
                  <input type="date" class="form-control white-text" id="" [(ngModel)]="newQuote.dateAgo" name="" required> -->
        
        
        SUBJECT: <br>{{quote.subject}} <br><br><hr>
        <i class="fa fa-spinner fa-spin white-text"></i>
        QUOTE: <br>{{quote.quote}} <br><br><hr>
        <i class="fa fa-spinner fa-spin white-text"></i>
        {{quote.description}} <br><br><hr>
        PUBLISHED: {{myDate | date}}
        

        
         
        
        
</p>

         
        <div>
        <button (click)="upvoteButtonClick ()" class="btn btn-primary">Upvote</button> <br>{{numberOfUpvotes}} <br> <hr>
        <button (click)="downvoteButtonClick()" class="btn btn-danger">Downvote</button> <br> {{numberOfDownvotes}} <br> <hr>

        


        </div>



        <button class="btn btn-dark" (click)='quoteDelete(true)'>Delete Quote</button>
            
        

                
</body>


