.container-fluid{
  color: goldenrod;
  opacity: 0.8;
  
}

html,body {
height:100%;
  background:center no-repeat fixed url('http://worldstudieslahsportfolio.weebly.com/uploads/1/2/4/1/12418518/643596731.jpg');
  background-size: cover;
  color:#444;
  font-family: 'Lato', sans-serif;
}
