<body>
    
  
  
          <section class="container-fluid #212121 grey darken-4" id="section1">
                  <div class="v-center"><br><br>
                    <h1 class="text-center">Generate Quotes</h1>
                    <br /><br /> <hr>
                    <h2 class="text-center lato animate slideInDown">
                     A place where <b>Knowledge</b> is shared <br>
                     <hr>
                     Begin your journey by <b>Adding</b>  your story
                    </h2>
                   
                  </div>
                </section>
      
      
      
                <app-quote></app-quote>
  </body>


